body {
  background-color: #786148;
  color: white;
  margin: 0px;
  padding: 0px;
  font-family: monospace;
  font-weight: bold;
}

div {
  border: 2px solid #191919;
  display: block;
  padding: 0px;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -o-user-selec: none;
  user-select: none;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

.calculator {
  width: 360px;
  height: 480px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  background: #4C4C4C;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4C4C4C', endColorstr='#0E110A');
  background: -webkit-gradient(linear, left top, left bottom, from(#4C4C4C), to(#0E110A));
  background: -moz-linear-gradient(top,  #4C4C4C,  #0E110A);
}

.screen {
  width: 320px;
  height: 70px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 70px;
  text-align: right;
  line-height: 70px;
  font-size: 40px;
  color: #222B19;
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: text;
  -o-user-select: text;
  user-select: text;
  background: #A8A88B;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#A8A88B', endColorstr='#91A791');
  background: -webkit-gradient(linear, left top, left bottom, from(#A8A88B), to(#91A791));
  background: -moz-linear-gradient(top,  #A8A88B,  #91A791);
}

.pad {
  width: 320px;
  height: 290px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  background: #5E5E5E;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4C4C4C', endColorstr='#262922');
  background: -webkit-gradient(linear, left top, left bottom, from(#4C4C4C), to(#262922));
  background: -moz-linear-gradient(top,  #4C4C4C,  #262922);
}

.button {
  float: left;
  width: 60px;
  height: 38px;
  line-height: 38px;
  margin: 8px;
  text-align: center;
  cursor: pointer;
  font-size: 24px;
  background: #855C33;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#855C33', endColorstr='#402C16');
  background: -webkit-gradient(linear, left top, left bottom, from(#855C33), to(#402C16));
  background: -moz-linear-gradient(top,  #855C33,  #402C16);
}
